# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
config.json

# parcel-bundler cache (https://parceljs.org/)
.cache

# Preferences directory
prefs/

# Build directory
build/

# Directories containing unnecessary stuff
examples/

crash_logs/

token.token