# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Preferences files
prefs/

# build directory
build/

# testing file
random_testing.ts

crash_logs/
