name: Bot Core test workflow

on:
  push:
  # pull_request:
    # branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        os: [ ubuntu-20.04, ubuntu-latest ]
        node-version: [ 14.x, 16.x ]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install and build
        run: |
          rm package-lock.json
          # npm install typescript
          npm install
          npm run build --if-present
        env:
          loglevel: notice
          CI: true
      - name: Run tests
        run: npm test
        env:
          loglevel: notice
